body {
    font-family: Courier New, sans-serif;
    background-color: #022452; /* Warna latar belakang */
    color: #DCEBFF; /* Warna teks */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #022452; /* Warna latar belakang header */
    padding: 20px 0;
}

h1 {
    font-size: 36px; /* Ukuran font judul */
}

main {
    max-width: 800px;
    margin: 20px auto; /* Memberi jarak dari sisi dan pusat halaman */
    padding: 0 20px;
}

h2 {
    font-size: 24px; /* Ukuran font sub judul */
    margin-top: 20px; /* Memberi jarak antara sub judul */
}

p {
    margin-bottom: 10px; /* Memberi jarak antara paragraf */
}

ul {
    padding-left: 20px; /* Memberi indentasi untuk daftar */
}

li {
    margin-bottom: 5px; /* Memberi jarak antara item daftar */
}
